In [731]:
import pandas as pd

In [732]:
cars = pd.read_csv("./autoru_items.csv")

In [733]:
cars.head()

,item_link,km_age,mark,markName,model,modelName,power,segment,state,transmission,...,type,region,body_type,color,drive_type,wheell_type,condition,ownersCount,is_customs,price
0,NaN,60000.0,KIA,Kia,OPTIMA,Optima,188.0,MEDIUM,used,AUTOMATIC,...,NaN,Зеленоград,седан,синий,передний,Левый,Не требует ремонта,1 владелец,Растаможен,1600000.0
1,NaN,74000.0,AUDI,Audi,A4,A4,170.0,PREMIUM,used,VARIATOR,...,NaN,Москва,седан,белый,передний,Левый,Не требует ремонта,3 или более,Растаможен,1040000.0
2,NaN,39900.0,GAZ,ГАЗ,21,21 «Волга»,75.0,MEDIUM,used,MECHANICAL,...,NaN,Москва,седан,серый,задний,Левый,Не требует ремонта,2 владельца,Растаможен,390000.0
3,NaN,120000.0,TOYOTA,Toyota,VENZA,Venza,185.0,MEDIUM,used,AUTOMATIC,...,suv,Москва,внедорожник 5 дв.,белый,полный,Левый,Не требует ремонта,2 владельца,Растаможен,1575000.0
4,NaN,453844.0,MERCEDES,Mercedes-Benz,G_KLASSE,G-Класс,215.0,PREMIUM,used,AUTOMATIC,...,suv,ДомодедовскаяЗябликово,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,3 или более,Растаможен,1098000.0

In [734]:
cars.shape

(59781, 22)

In [735]:
cars.describe().T

,count,mean,std,min,25%,50%,75%,max
item_link,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
km_age,59781.0,6.778704e+04,8.446191e+04,0.0,23.0,44207.0,100000.0,900000.0
power,59781.0,2.913775e+02,1.655644e+02,33.0,152.0,245.0,422.0,740.0
year,59781.0,2.014659e+03,6.101605e+00,1943.0,2012.0,2016.0,2020.0,2020.0
price,59781.0,5.080652e+06,6.555073e+06,23000.0,1190000.0,2421000.0,5800000.0,58382604.0

In [736]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59781 entries, 0 to 59780
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_link     0 non-null      float64
 1   km_age        59781 non-null  float64
 2   mark          59781 non-null  object
 3   markName      59781 non-null  object
 4   model         59781 non-null  object
 5   modelName     59781 non-null  object
 6   power         59781 non-null  float64
 7   segment       59781 non-null  object
 8   state         59781 non-null  object
 9   transmission  59781 non-null  object
 10  year          59781 non-null  float64
 11  engine-type   59781 non-null  object
 12  type          35218 non-null  object
 13  region        59781 non-null  object
 14  body_type     59781 non-null  object
 15  color         59781 non-null  object
 16  drive_type    45592 non-null  object
 17  wheell_type   45592 non-null  object
 18  condition     45592 non-null  object
 19  ownersCount   45592 non-null  object
 20  is_customs    45592 non-null  object
 21  price         59781 non-null  float64
dtypes: float64(5), object(17)
memory usage: 10.0+ MB

In [737]:
cars.columns

Index(['item_link', 'km_age', 'mark', 'markName', 'model', 'modelName',
       'power', 'segment', 'state', 'transmission', 'year', 'engine-type',
       'type', 'region', 'body_type', 'color', 'drive_type', 'wheell_type',
       'condition', 'ownersCount', 'is_customs', 'price'],
      dtype='object')

##### Переименование колонок
1. engine-type -> engine_type, чтобы соотвестовала единному стилю
2. is_customs -> customs_cleared, чтобы улучшить понимание, что это за фича
3. ownersCount -> owners_count

In [738]:
cars = cars.rename(columns={'engine-type': 'engine_type', 'is_customs': 'customs_cleared', "ownersCount": "owners_count"})

In [739]:
cars.columns

Index(['item_link', 'km_age', 'mark', 'markName', 'model', 'modelName',
       'power', 'segment', 'state', 'transmission', 'year', 'engine_type',
       'type', 'region', 'body_type', 'color', 'drive_type', 'wheell_type',
       'condition', 'owners_count', 'customs_cleared', 'price'],
      dtype='object')

In [740]:
round((cars.isnull().sum() / cars.shape[0]) * 100, 1)

item_link          100.0
km_age               0.0
mark                 0.0
markName             0.0
model                0.0
modelName            0.0
power                0.0
segment              0.0
state                0.0
transmission         0.0
year                 0.0
engine_type          0.0
type                41.1
region               0.0
body_type            0.0
color                0.0
drive_type          23.7
wheell_type         23.7
condition           23.7
owners_count        23.7
customs_cleared     23.7
price                0.0
dtype: float64

In [741]:
cars = cars.drop('item_link', axis=1)

### Дропаю дубликаты

In [742]:
# До
cars.shape

(59781, 21)

In [743]:
f"В дата сете оказалось вот столько дубликатов {cars.duplicated().sum()}"

'В дата сете оказалось вот столько дубликатов 54890'

Сначала не поверил и захотел сам проверить это

In [744]:
# Проверяю, где можно раздобыть дубликат
cars.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
59776     True
59777     True
59778     True
59779     True
59780     True
Length: 59781, dtype: bool

In [745]:
cars.tail(1)

,km_age,mark,markName,model,modelName,power,segment,state,transmission,year,...,type,region,body_type,color,drive_type,wheell_type,condition,owners_count,customs_cleared,price
59780,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0

In [746]:
merc_dup_query = ((cars['price'] == 19000000.0) & (cars['mark'] == 'MERCEDES'))
cars[merc_dup_query]

,km_age,mark,markName,model,modelName,power,segment,state,transmission,year,...,type,region,body_type,color,drive_type,wheell_type,condition,owners_count,customs_cleared,price
11154,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0
11191,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0
11228,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0
11253,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0
11290,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59593,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0
59630,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0
59669,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0
59706,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0
59780,6000.0,MERCEDES,Mercedes-Benz,G_KLASSE_AMG,G-Класс AMG,585.0,PREMIUM,used,AUTOMATIC,2018.0,...,suv,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,1 владелец,Растаможен,19000000.0

In [747]:
f"Этот G-класс перезаливали публиковали повторно {cars[merc_dup_query].shape[0]} раз. Ужас!"

'Этот G-класс перезаливали публиковали повторно 104 раз. Ужас!'

In [748]:
cars = cars.drop_duplicates()

In [749]:
# После
cars.shape

(4891, 21)

####

## Чистка данных
1. Дропнуть modelName и markName
2. Превести body_type и color  к одному формату.
3. Заменить станции метро на город в region.
4. Скорее всего `nan - drive_type, wheell_type, condition, ownersCount, customs_cleared` потому что это новые автомобили.
5. Нужно ли дропнуть type?

#### 1. Дропнуть modelName и markName
**Проблема:** Колонки дублируются. model и modelName, mark и markName предоставляют одно и ту же информацию.

In [750]:
cars = cars.drop(['modelName', 'markName'], axis=1)

In [751]:
'modelName' in cars.columns

False

#### 2. Превести body_type и color к одному формату. Сейчас плохо ('внедорожник 5 дв.', 'Внедорожник 5 дв.')
**Проблема:** 'внедорожник 5 дв.', 'Внедорожник 5 дв.' - это 2 разных варианта.

In [752]:
# Было
cars['body_type'].unique(), cars['body_type'].nunique()

(array(['седан', 'внедорожник 5 дв.', 'Внедорожник 5 дв.',
        'универсал 5 дв.', 'минивэн', 'купе', 'Седан', 'хэтчбек 5 дв.',
        'Купе', 'внедорожник 3 дв.', 'Лифтбек', 'пикап двойная кабина',
        'лифтбек', 'Минивэн', 'компактвэн', 'родстер', 'Универсал 5 дв.',
        'хэтчбек 3 дв.', 'Хэтчбек 5 дв.', 'Компактвэн', 'купе-хардтоп',
        'Пикап двойная кабина', 'седан-хардтоп', 'кабриолет', 'лимузин',
        'Внедорожник 3 дв.', 'фургон', 'микровэн', 'седан 2 дв.',
        'внедорожник открытый'], dtype=object),
 30)

In [753]:
cars['body_type'] = cars['body_type'].apply(lambda x: x.lower())

In [754]:
# Стало
cars['body_type'].unique(), cars['body_type'].nunique()

(array(['седан', 'внедорожник 5 дв.', 'универсал 5 дв.', 'минивэн', 'купе',
        'хэтчбек 5 дв.', 'внедорожник 3 дв.', 'лифтбек',
        'пикап двойная кабина', 'компактвэн', 'родстер', 'хэтчбек 3 дв.',
        'купе-хардтоп', 'седан-хардтоп', 'кабриолет', 'лимузин', 'фургон',
        'микровэн', 'седан 2 дв.', 'внедорожник открытый'], dtype=object),
 20)

In [755]:
# Было
cars['color'].unique(), cars['color'].nunique()

(array(['синий', 'белый', 'серый', 'чёрный', 'Серый', 'Чёрный', 'Белый',
        'оранжевый', 'коричневый', 'золотистый', 'серебристый',
        'Серебристый', 'Зелёный', 'пурпурный', 'Синий', 'зелёный',
        'красный', 'голубой', 'Коричневый', 'фиолетовый', 'Бежевый',
        'жёлтый', 'бежевый', 'Красный', 'Оранжевый', 'Голубой', 'Жёлтый'],
       dtype=object),
 27)

In [756]:
cars['color'] = cars['color'].apply(lambda x: x.lower())

In [757]:
# Стало
cars['color'].unique(), cars['color'].nunique()

(array(['синий', 'белый', 'серый', 'чёрный', 'оранжевый', 'коричневый',
        'золотистый', 'серебристый', 'зелёный', 'пурпурный', 'красный',
        'голубой', 'фиолетовый', 'бежевый', 'жёлтый'], dtype=object),
 15)

#### 3. Заменить станции метро на город в region
**Проблема:** на сайте не всегда указывают город, в большинстве указывают станцию метро. Разобразие названий метро будет мешать обучится модели, поэтому надо превести их в единому типу.
Для этого я собрал название метро и МЦД в файл `moscow_stations.csv`
Также я выделил некоторые станции МЦД в *Москва и Московская область*.

In [758]:
# Разнобразие вариантов
cars['region'].unique()

array(['Зеленоград', 'Москва', '\xa0ДомодедовскаяЗябликово', 'Химки',
       '\xa0Теплый СтанТропарёво', '\xa0Митино',
       '\xa0КрылатскоеМолодежная', '\xa0Сходненская',
       '\xa0ТекстильщикиВолгоградский проспект', '\xa0ЮжнаяПражская',
       '\xa0Беляево', '\xa0Окружная', '\xa0БеломорскаяРечной вокзал',
       '\xa0ЮжнаяЧертановская', '\xa0АлтуфьевоБибирево',
       '\xa0ЗИЛАвтозаводская', '\xa0СтрогиноМякинино',
       '\xa0станция Сетуньстанция Рабочий Посёлок',
       '\xa0Улица академика Янгелястанция Красный Строитель',
       '\xa0Авиамоторная', '\xa0ПланернаяХоврино',
       '\xa0СаларьевоФилатов Луг', '\xa0ОзёрнаяГоворово',
       '\xa0ЛюблиноВолжская', '\xa0ЗябликовоКрасногвардейская',
       '\xa0РимскаяПлощадь Ильича', '\xa0Аннино',
       '\xa0ТульскаяШаболовская', '\xa0СтрогиноКрылатское',
       '\xa0ГоворовоТропарёво', '\xa0Фили',
       '\xa0станция МоскворечьеКантемировская', '\xa0Университет',
       '\xa0Шелепиха', '\xa0Волгоградский проспектстанция Калитники',
       '\xa0ЩелковскаяПервомайская', '\xa0КоптевоБалтийская',
       '\xa0Улица ГорчаковаБульвар адмирала Ушакова',
       '\xa0МедведковоБабушкинская', '\xa0станция Маркстанция Лианозово',
       '\xa0БабушкинскаяСвиблово', '\xa0ВаршавскаяЧертановская',
       '\xa0ЯсеневоТеплый Стан', '\xa0Саларьево',
       '\xa0Ленинский проспектПлощадь Гагарина', '\xa0КалужскаяБеляево',
       '\xa0ТропарёвоРумянцево', 'Балашиха', '\xa0БутырскаяАлексеевская',
       '\xa0ЗоргеОктябрьское поле', '\xa0ШаболовскаяОктябрьская',
       '\xa0станция ТрикотажнаяМякинино', '\xa0Текстильщики',
       '\xa0ПолежаевскаяХорошёвская', '\xa0КиевскаяКраснопресненская',
       '\xa0Алма-АтинскаяШипиловская',
       '\xa0ЖулебиноЛермонтовский проспект', '\xa0СвибловоРостокино',
       '\xa0Кузьминки', 'Ржавки', '\xa0Строгиностанция Пенягино',
       '\xa0Смоленская', '\xa0Отрадное', 'Жуковка',
       '\xa0БеломорскаяХоврино', '\xa0Рязанский проспект',
       '\xa0Алтуфьевостанция Лианозово', 'Мытищи',
       '\xa0ДомодедовскаяОрехово', '\xa0станция БескудниковоСелигерская',
       '\xa0Юго-ЗападнаяПроспект Вернадского', '\xa0Первомайская',
       '\xa0МаяковскаяБелорусская', '\xa0ОтрадноеВладыкино',
       '\xa0Савеловская', '\xa0Коломенская',
       '\xa0ЧертановскаяСевастопольская', '\xa0Крылатское',
       '\xa0Алма-АтинскаяБорисово', '\xa0станция Трикотажная',
       '\xa0БеляевоКалужская', '\xa0БалтийскаяВойковская',
       '\xa0Новокосино', '\xa0ПражскаяЮжная', '\xa0Угрешская',
       '\xa0ТаганскаяМарксистская', '\xa0Ломоносовский проспектМинская',
       '\xa0Теплый Стан', '\xa0Пятницкое шоссеМитино',
       '\xa0СтрогиноЩукинская', '\xa0КалужскаяКаховская', 'Люберцы',
       '\xa0НовогиреевоНовокосино', '\xa0станция ДегуниноОтрадное',
       '\xa0станция Рабочий Посёлокстанция Сетунь',
       '\xa0ХовриноБеломорская', '\xa0ГоворовоОзёрная',
       '\xa0ВаршавскаяСевастопольская', '\xa0Улица 1905 года',
       '\xa0Жулебино', '\xa0Филатов ЛугСаларьево', '\xa0Ростокино',
       '\xa0АкадемическаяПрофсоюзная', '\xa0Беговая', '\xa0Арбатская',
       '\xa0Царицыно', '\xa0станция Остафьевостанция Щербинка',
       '\xa0Рижская', '\xa0Тушинская', '\xa0ЗоргеПолежаевская',
       '\xa0КиевскаяСмоленская', '\xa0РаменкиМичуринский проспект',
       '\xa0БутырскаяДмитровская', '\xa0Юго-ЗападнаяТропарёво',
       '\xa0Кунцевская', '\xa0Марьиностанция Перерва',
       '\xa0НагатинскаяВерхние Котлы', '\xa0Дубровка',
       '\xa0Бульвар Рокоссовского', '\xa0ГоворовоСолнцево',
       '\xa0Преображенская площадьЧеркизовская',
       '\xa0СеменовскаяЭлектрозаводская',
       '\xa0ЛухмановскаяУлица Дмитриевского', '\xa0Дмитровская',
       '\xa0КосиноЛермонтовский проспект', '\xa0ПервомайскаяЩелковская',
       '\xa0ЛесопарковаяАннино', '\xa0Крестьянская заставаПролетарская',
       '\xa0Преображенская площадь',
       '\xa0станция ДегуниноВерхние Лихоборы',
       '\xa0Коломенскаястанция Депо',
       '\xa0Селигерскаястанция Бескудниково',
       '\xa0Волгоградский проспектДубровка', '\xa0Алма-Атинская',
       '\xa0Алтуфьево', 'Тула', '\xa0ПланернаяСходненская', 'Тверь',
       'Отрадное', 'Владимир', 'Рязань', 'Шатура', '\xa0Динамо',
       'Наро-Фоминск', 'Щелково', 'Домодедово', 'Ликино-Дулево',
       'Обнинск', 'Жуков', 'Сергиев Посад',
       '\xa0Бульвар Дмитрия ДонскогоУлица Старокачаловская', 'Детчино',
       'Жуковский', '\xa0станция Красный СтроительУлица академика Янгеля',
       '\xa0СухаревскаяКрасные ворота', 'Кашин', '\xa0Чертановская',
       '\xa0Проспект Вернадского', 'Железнодорожный', 'Часцы',
       '\xa0ПушкинскаяТверская', 'Серпухов', 'Красногорск', 'Калуга',
       'Гагарин', '\xa0Молодежнаястанция Рабочий Посёлок',
       '\xa0Славянский бульварПионерская', 'Посёлок совхоза имени Ленина',
       'Звенигород', '\xa0Новохохловская', 'Подольск', 'Гаврилково',
       '\xa0ЯсеневоНовоясеневская', '\xa0станция Павшино', 'Соколово',
       'Покров', 'Ивантеевка', 'Долгопрудный', '\xa0Калужская',
       '\xa0БратиславскаяМарьино', '\xa0станция ТестовскаяВыставочная',
       'Кубинка', '\xa0Парк КультурыСмоленская',
       '\xa0Волжскаястанция Кубанская', '\xa0ВДНХ', 'Гусь-Хрустальный',
       'Коломна', 'Котельники', 'Раменское',
       'Москва и Московская область', 'Внуково', 'Горки-2', 'Одинцово',
       'Болохово', '\xa0ОльховаяКоммунарка', '\xa0Коптево',
       '\xa0ХорошёвоЦСКА', '\xa0Юго-Западная', '\xa0станция Силикатная',
       'Клин', 'Зарайск', 'Заречье', '\xa0станция ТестовскаяШелепиха',
       'Пушкино', '\xa0КантемировскаяКаширская', 'Ромашково',
       '\xa0Румянцево', 'Ростов', 'Ясногорск', 'Королёв', 'Орехово-Зуево',
       'Бронницы', '\xa0МолодежнаяКрылатское',
       '\xa0МитиноПятницкое шоссе', 'Видное', 'Горки Ленинские',
       '\xa0Молодежная', '\xa0СокольникиКрасносельская',
       '\xa0КоломенскаяТехнопарк', '\xa0ОреховоДомодедовская',
       '\xa0станция Сетунь', 'Александров', 'Киржач', 'Чехов',
       '\xa0Речной вокзал', '\xa0СелигерскаяВерхние Лихоборы',
       'Егорьевск', 'Новая', '\xa0Улица 1905 годаКраснопресненская',
       '\xa0СходненскаяПланерная', 'Реутов', '\xa0ПавелецкаяПролетарская',
       '\xa0Лермонтовский проспектКосино', '\xa0Речной вокзалБеломорская',
       '\xa0КраснопресненскаяБаррикадная', '\xa0БотаническаяЧкаловская',
       '\xa0Шоссе Энтузиастов', 'Электросталь', 'Томилино', 'Протвино',
       'Новомосковск', '\xa0Нижегородская',
       '\xa0станция ГражданскаяАэропорт',
       '\xa0МарксистскаяКрестьянская застава', 'Балабаново',
       '\xa0СтуденческаяКутузовская', 'Фрязино', 'Дмитров',
       '\xa0ИзмайловскаяПервомайская',
       '\xa0станция Красный БалтиецАэропорт', 'Воскресенск',
       '\xa0ПионерскаяСлавянский бульвар', '\xa0Марьина рощаРижская',
       'Ногинск', '\xa0КрасногвардейскаяДомодедовская', 'Дзержинский',
       'Кимры', '\xa0ПанфиловскаяСокол', 'Андреевка', 'Монино',
       'Павловская Слобода', '\xa0Улица ДмитриевскогоЛухмановская',
       'Семёновское', '\xa0Парк Победы', 'Мисайлово', '\xa0Селигерская',
       '\xa0МарьиноБратиславская', 'Волоколамск',
       '\xa0СвибловоБабушкинская', 'Верхнее Мячково',
       '\xa0ЛихоборыОкружная', 'Дубна', '\xa0Войковская',
       '\xa0ЛужникиСпортивная', '\xa0Перово',
       '\xa0НовопеределкиноРассказовка', 'Руза', 'Булатниково',
       '\xa0Чистые прудыТургеневская', '\xa0Бабушкинская',
       '\xa0НовопеределкиноБоровское шоссе',
       '\xa0Мичуринский проспектРаменки', '\xa0Верхние КотлыКрымская',
       'Павловский Посад', 'Посёлок совхоза Останкино', 'Ярославль',
       'Углич', 'Юрьев-Польский', '\xa0ПервомайскаяИзмайловская',
       'Молодёново', '\xa0станция Красный БалтиецСокол',
       '\xa0ВДНХАлексеевская', 'Молоково', 'Малоярославец', '\xa0Курская',
       'Горелки', 'Бутово', 'Голицыно', '\xa0Мичуринский проспект',
       'Конаково', '\xa0Люблиностанция Кубанская', '\xa0Новогиреево',
       'Архангельское', '\xa0Бибирево', '\xa0Тульская',
       '\xa0Деловой центрстанция Тестовская', 'Истра',
       '\xa0Воробьевы Горы', '\xa0Щелковская', '\xa0Озёрная',
       '\xa0КрымскаяВерхние Котлы', '\xa0КоломенскаяНагатинская',
       'Белоусово', 'Рыбное', '\xa0Бибиревостанция Бескудниково',
       'Беседы', 'Волковское', '\xa0БутырскаяВДНХ',
       '\xa0ЩукинскаяСпартак', 'Краснознаменск',
       '\xa0МарксистскаяТаганская', '\xa0ТушинскаяМитино', 'Костино',
       'Ильинское-Усово', 'Лыткарино', '\xa0Проспект МираСухаревская',
       '\xa0Домодедовская', 'Голубое', '\xa0Международная'], dtype=object)

In [759]:
moscow_metro_stations = pd.read_csv("moscow_stations.csv")

In [760]:
moscow_metro_stations.head()

            name
0  Третьяковская
1     Медведково
2   Первомайская
3      Калужская
4      Каховская

In [761]:
for station in moscow_metro_stations['name']:
    cars['region'] = cars['region'].replace(regex=fr'^.*{station}.*$', value='Москва')

In [762]:
moscow_area_stations = ['станция Сетунь', 'станция Остафьево', 'станция Павшино', 'станция Силикатная']

In [763]:
for station in moscow_area_stations:
    cars['region'] = cars['region'].replace(regex=fr'^.*{station}.*$', value='Москва и Московская область')

In [764]:
cars['region'].unique()

array(['Зеленоград', 'Москва', 'Химки', 'Москва и Московская область',
       'Балашиха', 'Ржавки', 'Жуковка', 'Мытищи', 'Люберцы', 'Тула',
       'Тверь', 'Владимир', 'Рязань', 'Шатура', 'Наро-Фоминск', 'Щелково',
       'Домодедово', 'Ликино-Дулево', 'Обнинск', 'Жуков', 'Сергиев Посад',
       'Детчино', 'Жуковский', 'Кашин', 'Железнодорожный', 'Часцы',
       'Серпухов', 'Красногорск', 'Калуга', 'Гагарин',
       'Посёлок совхоза имени Ленина', 'Звенигород', 'Подольск',
       'Гаврилково', 'Покров', 'Ивантеевка', 'Долгопрудный', 'Кубинка',
       'Гусь-Хрустальный', 'Коломна', 'Раменское', 'Внуково', 'Горки-2',
       'Одинцово', 'Болохово', 'Клин', 'Зарайск', 'Заречье', 'Пушкино',
       'Ромашково', 'Ростов', 'Ясногорск', 'Королёв', 'Бронницы',
       'Видное', 'Горки Ленинские', 'Александров', 'Киржач', 'Чехов',
       'Егорьевск', 'Новая', 'Реутов', 'Электросталь', 'Томилино',
       'Протвино', 'Новомосковск', 'Балабаново', 'Фрязино', 'Дмитров',
       'Воскресенск', 'Ногинск', 'Дзержинский', 'Кимры', 'Андреевка',
       'Монино', 'Павловская Слобода', 'Семёновское', 'Мисайлово',
       'Волоколамск', 'Верхнее Мячково', 'Дубна', 'Руза', 'Булатниково',
       'Павловский Посад', 'Посёлок совхоза Останкино', 'Ярославль',
       'Углич', 'Юрьев-Польский', 'Молодёново', 'Молоково',
       'Малоярославец', 'Горелки', 'Бутово', 'Голицыно', 'Конаково',
       'Архангельское', 'Истра', 'Белоусово', 'Рыбное', 'Беседы',
       'Волковское', 'Краснознаменск', 'Костино', 'Ильинское-Усово',
       'Лыткарино', 'Голубое'], dtype=object)

**Итог:** теперь фича `region` в едином формате, в формате городов.

#### 4. Скорее всего nan - drive_type, wheell_type, condition, ownersCount, customs_cleared потому что это новые автомобили
**Проблема:** Для новых автомобилей нет информации о приводе, тип лево-/праворульная, кол-во владелецев и растоможена ли она или нет.

In [765]:
# Для подтверждения гипотезы выведем кол-во незаполненных кол-во наблюдения для *всех* и для *новых*
cars.isnull().sum()

km_age                0
mark                  0
model                 0
power                 0
segment               0
state                 0
transmission          0
year                  0
engine_type           0
type               2596
region                0
body_type             0
color                 0
drive_type          824
wheell_type         824
condition           824
owners_count        824
customs_cleared     824
price                 0
dtype: int64

In [766]:
new_cars = cars[cars['state'] == 'new']

In [767]:
new_cars.isnull().sum()

km_age               0
mark                 0
model                0
power                0
segment              0
state                0
transmission         0
year                 0
engine_type          0
type               259
region               0
body_type            0
color                0
drive_type         824
wheell_type        824
condition          824
owners_count       824
customs_cleared    824
price                0
dtype: int64

###### Гипотеза подвердилась, продолжаем заполнять данные

In [768]:
cars['drive_type'].unique()

array(['передний', 'задний', 'полный', nan], dtype=object)

In [769]:
cars['drive_type'] = cars['drive_type'].fillna('неизвестно')

In [770]:
cars['drive_type'].isnull().sum()

0

Большинство новых автомобилей леворульные, поэтому заполняем их как леворульные

In [771]:
cars['wheell_type'].unique()

array(['Левый', nan, 'Правый'], dtype=object)

In [772]:
cars['wheell_type'] = cars['wheell_type'].fillna('Левый')

In [773]:
cars['wheell_type'].isnull().sum()

0

Состояние машин заполняем, как "новая"

In [774]:
cars['condition'].unique()

array(['Не требует ремонта', nan], dtype=object)

In [775]:
cars['condition'] = cars['condition'].fillna('Новая')

In [776]:
cars['condition'].isnull().sum()

0

У новых автомобилей не было владелецев, заполняем - "0 владелецев"

In [777]:
cars['owners_count'].unique()

array(['1\xa0владелец', '3 или более', '2\xa0владельца', nan],
      dtype=object)

In [778]:
cars['owners_count'] = cars['owners_count'].fillna('0 владелецев')

In [779]:
cars['owners_count'].isnull().sum()

0

Все новые автомобили растаможены, заполняем "Растаможен"

In [780]:
cars['customs_cleared'].unique()

array(['Растаможен', nan], dtype=object)

In [781]:
cars['customs_cleared'] = cars['customs_cleared'].fillna('Растаможен')

In [782]:
cars['customs_cleared'].isnull().sum()

0

#### 5. Нужно ли дропнуть type?
**Проблема:** type - тип автомобиля, который заполнен только одним значением `suv`. Дропнуть его или нет?

In [783]:
n_null_type = cars['type'].isnull().sum()

In [784]:
f'В процентах это будет {round((n_null_type / cars.shape[0]) * 100, 2)}%'

'В процентах это будет 53.08%'

In [785]:
cars['type'].unique()

array([nan, 'suv'], dtype=object)

53% это много + есть всего 1 одно значение `suv`. Решаю **дропнуть** значение.

In [786]:
cars = cars.drop('type', axis=1)

In [787]:
'type' in cars.columns

False

###### Итоговый дата фрейм

In [788]:
cars.head()

,km_age,mark,model,power,segment,state,transmission,year,engine_type,region,body_type,color,drive_type,wheell_type,condition,owners_count,customs_cleared,price
0,60000.0,KIA,OPTIMA,188.0,MEDIUM,used,AUTOMATIC,2018.0,GASOLINE,Зеленоград,седан,синий,передний,Левый,Не требует ремонта,1 владелец,Растаможен,1600000.0
1,74000.0,AUDI,A4,170.0,PREMIUM,used,VARIATOR,2012.0,GASOLINE,Москва,седан,белый,передний,Левый,Не требует ремонта,3 или более,Растаможен,1040000.0
2,39900.0,GAZ,21,75.0,MEDIUM,used,MECHANICAL,1970.0,GASOLINE,Москва,седан,серый,задний,Левый,Не требует ремонта,2 владельца,Растаможен,390000.0
3,120000.0,TOYOTA,VENZA,185.0,MEDIUM,used,AUTOMATIC,2013.0,GASOLINE,Москва,внедорожник 5 дв.,белый,полный,Левый,Не требует ремонта,2 владельца,Растаможен,1575000.0
4,453844.0,MERCEDES,G_KLASSE,215.0,PREMIUM,used,AUTOMATIC,2000.0,GASOLINE,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,3 или более,Растаможен,1098000.0

###### И последний штрих 
`km_age`, `power`, `price`, `year` - это целочисленные значения, но тут распознаются как float. Исправим это.

In [789]:
print(f"Было :{cars['km_age'].dtype}")
cars['km_age'] = cars['km_age'].astype("int32")
print(f"Стало :{cars['km_age'].dtype}")

Было :float64
Стало :int32

In [790]:
print(f"Было :{cars['power'].dtype}")
cars['power'] = cars['power'].astype("int32")
print(f"Стало :{cars['power'].dtype}")

Было :float64
Стало :int32

In [791]:
print(f"Было :{cars['price'].dtype}")
cars['price'] = cars['price'].astype("int32")
print(f"Стало :{cars['price'].dtype}")

Было :float64
Стало :int32

In [792]:
print(f"Было :{cars['year'].dtype}")
cars['year'] = cars['year'].astype("int32")
print(f"Стало :{cars['year'].dtype}")

Было :float64
Стало :int32

## Вот итоговый-итоговый дата фрейм

In [793]:
cars.head()

,km_age,mark,model,power,segment,state,transmission,year,engine_type,region,body_type,color,drive_type,wheell_type,condition,owners_count,customs_cleared,price
0,60000,KIA,OPTIMA,188,MEDIUM,used,AUTOMATIC,2018,GASOLINE,Зеленоград,седан,синий,передний,Левый,Не требует ремонта,1 владелец,Растаможен,1600000
1,74000,AUDI,A4,170,PREMIUM,used,VARIATOR,2012,GASOLINE,Москва,седан,белый,передний,Левый,Не требует ремонта,3 или более,Растаможен,1040000
2,39900,GAZ,21,75,MEDIUM,used,MECHANICAL,1970,GASOLINE,Москва,седан,серый,задний,Левый,Не требует ремонта,2 владельца,Растаможен,390000
3,120000,TOYOTA,VENZA,185,MEDIUM,used,AUTOMATIC,2013,GASOLINE,Москва,внедорожник 5 дв.,белый,полный,Левый,Не требует ремонта,2 владельца,Растаможен,1575000
4,453844,MERCEDES,G_KLASSE,215,PREMIUM,used,AUTOMATIC,2000,GASOLINE,Москва,внедорожник 5 дв.,чёрный,полный,Левый,Не требует ремонта,3 или более,Растаможен,1098000

In [794]:
cars.to_csv('autoru_cleaned.csv', index=False)